body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0a2557;
  color: rgb(255, 253, 253);
  padding: 25px;
  text-align: center;
}

nav {
  background-color: #275f85;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

#sobre {
  background-color: #ffffff;
  text-align: center;
}

.bg-color {
  background-color: #ffffff;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #275f85;
  border-radius: 15px;
}

footer {
  background-color: #275f85;
  color: white;
  text-align: center;
  padding: 15px;
}
